.destaque {
    background-color: var(--azul-claro);
    font-family:var(--Montserrat);
}

.destaque__titulo {
    font-size: 2rem;
    font-weight: 700;
    padding:2rem;
    text-align: center;
    color:var(--fonte-cinza);
}

.destaque__painel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaque__painel--imagem {
    display: flex;
    width: 100vw;
    max-width: 600px;
    box-shadow: 2px 2px 3px #0000008e;
}

.destaque__painel--texto {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.8rem 0 1.6rem 0 ;
    line-height: normal;
}


.destaque__botao{
    color: var(--vermelho-forte);
    border-color:var(--vermelho-forte);
    margin: 0 auto;
}