.pessoa__funcao {
    font-size: 1.3em;
    color: gray;
    text-transform: lowercase;
}

@media screen and (min-width:0px)and (max-width:768px) {
    .pessoa__funcao {
       margin-bottom: 20px;
    }
}