.receita {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width:30vw;
    margin:5px;
}

@media screen and (min-width:0px)and (max-width:768px) {
    .receita {
        display: flex;
       flex-direction: row; 
       width: 100vw;
    }
}